[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #1E90FF;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #D2AF80;
}
[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #e07878;
}
[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #d38621;
}
[data-page=".global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #7B68EE;
}
[data-page=".global_menu"][data-itemid="welcome_item7"] > .bs-welcome-header {
  background-color: #5f9ea0;
}
[data-page=".global_menu"][data-itemid="welcome_item8"] > .bs-welcome-header {
  background-color: #1E90FF;
}
[data-page=".global_menu"][data-itemid="welcome_item9"] > .bs-welcome-header {
  background-color: #db7093;
}
[data-page=".global_menu"][data-itemid="welcome_item10"] > .bs-welcome-header {
  background-color: #7b68ee;
}
[data-page=".global_menu"][data-itemid="welcome_item11"] > .bs-welcome-header {
  background-color: #CD5C5C;
}
[data-page=".global_menu"][data-itemid="welcome_item13"] > .bs-welcome-header {
  background-color: #44c3ba;
}
[data-page=".global_menu"][data-itemid="welcome_item12"] > .bs-welcome-header {
  background-color: #c94079;
}
[data-page=".global_menu"][data-itemid="welcome_item14"] > .bs-welcome-header {
  background-color: #CD5C5C;
}
[data-page=".global_menu"][data-itemid="welcome_item15"] > .bs-welcome-header {
  background-color: #DAA520;
}
[data-page=".global_menu"][data-itemid="welcome_item16"] > .bs-welcome-header {
  background-color: #DAA520;
}
