[data-page=".global_setup"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #002f6c;
}
[data-page=".global_setup"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #3e2723;
}
[data-page=".global_setup"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #004c8c;
}
[data-page=".global_setup"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #005b9f;
}
[data-page=".global_setup"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #006db3;
}
[data-page=".global_setup"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #00363a;
}
[data-page=".global_setup"][data-itemid="welcome_item15"] > .bs-welcome-header {
  background-color: #4e342e;
}
[data-page=".global_setup"][data-itemid="welcome_item17"] > .bs-welcome-header {
  background-color: #6B8E23;
}


