[data-cellid="grid_footcell_field"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field"][data-page="Export_and_Import_Areas_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field1"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field1"][data-page="Export_and_Import_Areas_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field2"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field2"][data-page="Export_and_Import_Areas_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field3"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field3"][data-page="Export_and_Import_Areas_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field4"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_footcell_field4"][data-page="Export_and_Import_Areas_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_headcell_checkbox"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_headcell_checkbox"][data-page="Export_and_Import_Areas_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_cell_details"][data-page="Export_and_Import_Areas_list"][data-cellid="grid_cell_details"][data-page="Export_and_Import_Areas_list"] {
  white-space: nowrap;
}
[data-page="Export_and_Import_Areas_list"][data-itemid="simple_grid_field17"] {
  font-weight: bold;
}
