[data-cellid="grid_footcell_field"][data-page="Manage_Rooms_masterprint"][data-cellid="grid_footcell_field"][data-page="Manage_Rooms_masterprint"][data-cellid="grid_footcell_field"][data-page="Manage_Rooms_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="Manage_Rooms_masterprint"][data-cellid="grid_headcell_icons"][data-page="Manage_Rooms_masterprint"][data-cellid="grid_headcell_icons"][data-page="Manage_Rooms_masterprint"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="Manage_Rooms_masterprint"][data-cellid="grid_cell_icons"][data-page="Manage_Rooms_masterprint"][data-cellid="grid_cell_icons"][data-page="Manage_Rooms_masterprint"] {
  white-space: nowrap;
}
