<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-menu" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form r-align-left navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="image" {$item_image} data-topcell-item-type="image" >
				<img src="{$file_url images/Unee-T%20Enterprise160x50.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" />
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemid="Home" {$item_Home}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="Home" {$item_Home} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$changepwdlink_attrs}  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
										</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_c7" data-pageid="{$pageid}">
 
<div class="clearfix col-lg-12 col-md-12 col-sm-12 welcome-group" data-itemtype="welcome_group" data-itemid="welcome_group5" {$item_welcome_group5} data-pageid="{$pageid}">
	<h2>
					Super Admin		
			</h2>
	 
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item17" {$item_welcome_item17} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="super_admin___manage_organization_list.php">
							<span class="glyphicon glyphicon-wrench"></span>Manage Organization					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="29">
		Create and edit Organizations	</div>
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item15" {$item_welcome_item15} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="unee_t_enterprise_account_list.php">
							<span class="glyphicon glyphicon-wrench"></span>Unee-T Enterprise Account					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="50">
		Key parameters  for your Unee-T Enterprise Account	</div>
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item1" {$item_welcome_item1} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="Manage_Users___Unee_T_Enterprise_UI_list.php">
							<span class="glyphicon glyphicon-lock"></span>Manage Accesses					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="37">
		Manage accesses to Unee-T Enterprise.	</div>
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item3" {$item_welcome_item3} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="Manage_User_Types_list.php">
							<span class="glyphicon glyphicon-th-list"></span>Unee-T User Types					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="81">
		Manage Permissions, Visibility and Notifications preferences for each user types.	</div>
	</div>

<div class="clearfix"></div>
</td>
							</tr>
											<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_c1" data-pageid="{$pageid}">
 
<div class="clearfix col-lg-12 col-md-12 col-sm-12 welcome-group" data-itemtype="welcome_group" data-itemid="welcome_group2" {$item_welcome_group2} data-pageid="{$pageid}">
	<h2>
					Default parameters		
			</h2>
	 
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item" {$item_welcome_item} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="Manage_Unee_T_Users_list.php">
							<span class="glyphicon glyphicon-user"></span>Unee-T Users					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="56">
		Create or Edit Unee-T Users. Assign Users and User Types	</div>
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item6" {$item_welcome_item6} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="Manage_Areas_list.php">
							<span class="glyphicon glyphicon-cloud"></span>Default Areas					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="55">
		List and edit the areas you use to group your buildings	</div>
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item4" {$item_welcome_item4} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="Manage_User_Default_Visibility_list.php">
							<span class="glyphicon glyphicon-eye-open"></span>Default Visibility					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="50">
		Edit User Visiblity parameters for each User Type.	</div>
	</div>

	<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item5" {$item_welcome_item5} data-pageid="{$pageid}" data-page=".global_setup">
	<div class="bs-welcome-header">
		<a id="itemlink" href="Manage_User_Default_Notifications_list.php">
							<span class="glyphicon glyphicon-bell"></span>Default Notifications					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="50">
		Edit User Visiblity parameters for each User Type.	</div>
	</div>

<div class="clearfix"></div>
</td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
							</div>
						
														
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
