<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel Manage_Unit_Names edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN unee_t_unit_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_unee_t_unit_type}  r-vertical-field" 
	data-fieldname="unee_t_unit_type" 
	data-signal-error-for="unee_t_unit_type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="unee_t_unit_type" >


	<label class="r-edit-label control-label" for="{$labelfor_unee_t_unit_type}">
		{BEGIN unee_t_unit_type_label}{$label Manage_Unit_Names unee_t_unit_type }{END unee_t_unit_type_label}
	</label>
	<div class="r-edit-field">
		{$unee_t_unit_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="unee_t_unit_type">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END unee_t_unit_type_fieldblock}
											
{BEGIN uneet_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_uneet_name}  r-vertical-field" 
	data-fieldname="uneet_name" 
	data-signal-error-for="uneet_name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="uneet_name" >


	<label class="r-edit-label control-label" for="{$labelfor_uneet_name}">
		{BEGIN uneet_name_label}{$label Manage_Unit_Names uneet_name }{END uneet_name_label}
	</label>
	<div class="r-edit-field">
		{$uneet_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="uneet_name">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END uneet_name_fieldblock}
											
{BEGIN external_property_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_external_property_id}  r-vertical-field" 
	data-fieldname="external_property_id" 
	data-signal-error-for="external_property_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="external_property_id" >


	<label class="r-edit-label control-label" for="{$labelfor_external_property_id}">
		{BEGIN external_property_id_label}{$label Manage_Unit_Names external_property_id }{END external_property_id_label}
	</label>
	<div class="r-edit-field">
		{$external_property_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="external_property_id">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END external_property_id_fieldblock}
											
{BEGIN external_system_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_external_system}  r-vertical-field" 
	data-fieldname="external_system" 
	data-signal-error-for="external_system{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="external_system" >


	<label class="r-edit-label control-label" for="{$labelfor_external_system}">
		{BEGIN external_system_label}{$label Manage_Unit_Names external_system }{END external_system_label}
	</label>
	<div class="r-edit-field">
		{$external_system_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="external_system">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END external_system_fieldblock}
											
{BEGIN table_in_external_system_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_table_in_external_system}  r-vertical-field" 
	data-fieldname="table_in_external_system" 
	data-signal-error-for="table_in_external_system{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="table_in_external_system" >


	<label class="r-edit-label control-label" for="{$labelfor_table_in_external_system}">
		{BEGIN table_in_external_system_label}{$label Manage_Unit_Names table_in_external_system }{END table_in_external_system_label}
	</label>
	<div class="r-edit-field">
		{$table_in_external_system_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="table_in_external_system">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END table_in_external_system_fieldblock}
											
{BEGIN designation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_designation}  r-vertical-field" 
	data-fieldname="designation" 
	data-signal-error-for="designation{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="designation" >


	<label class="r-edit-label control-label" for="{$labelfor_designation}">
		{BEGIN designation_label}{$label Manage_Unit_Names designation }{END designation_label}
	</label>
	<div class="r-edit-field">
		{$designation_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="designation">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END designation_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-button-item>
	<span class="dropdown dropup">
		<button type="button" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" >
				<a  {$resetbutton_attrs} >
				
		Reset		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
