<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="image" {$item_image} data-topcell-item-type="image" >
				<img src="{$file_url images/Unee-T%20Enterprise160x50.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" />
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class=" navbar-collapse" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span data-cellId="supertop_c2" data-pageid="{$pageid}" class=" r-ori-vert navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
													</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel Manage_Areas view}</h2>
		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}




 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} data-toggle="collapse"   

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
			<a role="button" >
				The Area			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="topbar" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN area_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_area_name}  r-vertical-field" data-fieldname="area_name" data-signal-error-for="area_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-page="Manage_Areas_view" data-field="area_name" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_area_name}">
		
		{BEGIN area_name_label}{$label Manage_Areas area_name }{END area_name_label}
	</label>
	<div class="" >
		{$area_name_value}	</div>

		</div>
		
</div>


{END area_name_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c3}
<td
	{$cell_section1_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN country_code_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country_code}  r-vertical-field" data-fieldname="country_code" data-signal-error-for="country_code{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="country_code" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_country_code}">
		
		{BEGIN country_code_label}{$label Manage_Areas country_code }{END country_code_label}
	</label>
	<div class="" >
		{$country_code_value}	</div>

		</div>
		
</div>


{END country_code_fieldblock}
	
								</td>
			{END cellblock_section1_c3}
			 
																

{BEGIN cellblock_section1_c2}
<td
	{$cell_section1_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN is_creation_needed_in_unee_t_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_is_creation_needed_in_unee_t}  r-vertical-field" data-fieldname="is_creation_needed_in_unee_t" data-signal-error-for="is_creation_needed_in_unee_t{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="is_creation_needed_in_unee_t" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_is_creation_needed_in_unee_t}">
		
		{BEGIN is_creation_needed_in_unee_t_label}{$label Manage_Areas is_creation_needed_in_unee_t }{END is_creation_needed_in_unee_t_label}
	</label>
	<div class="" >
		{$is_creation_needed_in_unee_t_value}	</div>

		</div>
		
</div>


{END is_creation_needed_in_unee_t_fieldblock}
	
								</td>
			{END cellblock_section1_c2}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_section1_c8}
<td
	{$cell_section1_c8}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="section1_c8" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN area_definition_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_area_definition}  r-vertical-field" data-fieldname="area_definition" data-signal-error-for="area_definition{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="area_definition" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_area_definition}">
		
		{BEGIN area_definition_label}{$label Manage_Areas area_definition }{END area_definition_label}
	</label>
	<div class="" >
		{$area_definition_value}	</div>

		</div>
		
</div>


{END area_definition_fieldblock}
	
								</td>
			{END cellblock_section1_c8}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_section1_c4}
<td
	{$cell_section1_c4}
	class="r-align-center r-ori-vert"
	
			data-single
			
			data-cellId="section1_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN mgt_cny_default_assignee_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mgt_cny_default_assignee}  r-vertical-field" data-fieldname="mgt_cny_default_assignee" data-signal-error-for="mgt_cny_default_assignee{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="mgt_cny_default_assignee" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_mgt_cny_default_assignee}">
		
		{BEGIN mgt_cny_default_assignee_label}{$label Manage_Areas mgt_cny_default_assignee }{END mgt_cny_default_assignee_label}
	</label>
	<div class="" >
		{$mgt_cny_default_assignee_value}	</div>

		</div>
		
</div>


{END mgt_cny_default_assignee_fieldblock}
	
								</td>
			{END cellblock_section1_c4}
			 
																

{BEGIN cellblock_section1_c5}
<td
	{$cell_section1_c5}
	class="r-align-center r-ori-vert"
	
			data-single
			
			data-cellId="section1_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN order_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_order}  r-vertical-field" data-fieldname="order" data-signal-error-for="order{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="order" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_order}">
		
		{BEGIN order_label}{$label Manage_Areas order }{END order_label}
	</label>
	<div class="" >
		{$order_value}	</div>

		</div>
		
</div>


{END order_fieldblock}
	
								</td>
			{END cellblock_section1_c5}
			 
																

{BEGIN cellblock_section1_c6}
<td
	{$cell_section1_c6}
	class="r-align-center r-ori-vert"
	
			data-single
			
			data-cellId="section1_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN is_obsolete_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_is_obsolete}  r-vertical-field" data-fieldname="is_obsolete" data-signal-error-for="is_obsolete{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="is_obsolete" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_is_obsolete}">
		
		{BEGIN is_obsolete_label}{$label Manage_Areas is_obsolete }{END is_obsolete_label}
	</label>
	<div class="" >
		{$is_obsolete_value}	</div>

		</div>
		
</div>


{END is_obsolete_fieldblock}
	
								</td>
			{END cellblock_section1_c6}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
	
				 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} data-toggle="collapse"   

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Source of the data			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section" id="form_section_{$pageid}" data-makeup="topbar" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN external_system_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_external_system_id}  r-vertical-field" data-fieldname="external_system_id" data-signal-error-for="external_system_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="external_system_id" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_external_system_id}">
		
		{BEGIN external_system_id_label}{$label Manage_Areas external_system_id }{END external_system_id_label}
	</label>
	<div class="" >
		{$external_system_id_value}	</div>

		</div>
		
</div>


{END external_system_id_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN external_table_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_external_table}  r-vertical-field" data-fieldname="external_table" data-signal-error-for="external_table{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="external_table" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_external_table}">
		
		{BEGIN external_table_label}{$label Manage_Areas external_table }{END external_table_label}
	</label>
	<div class="" >
		{$external_table_value}	</div>

		</div>
		
</div>


{END external_table_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN external_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_external_id}  r-vertical-field" data-fieldname="external_id" data-signal-error-for="external_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="external_id" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_external_id}">
		
		{BEGIN external_id_label}{$label Manage_Areas external_id }{END external_id_label}
	</label>
	<div class="" >
		{$external_id_value}	</div>

		</div>
		
</div>


{END external_id_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
	
				 
	 
												
{BEGIN details_Manage_Buildings}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption Manage_Buildings }				
							<span>
					{$detailslButtons_Manage_Buildings}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_Manage_Buildings}
		</div>
	</div>
</div>
{END details_Manage_Buildings}
	
				{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="#" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
