<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="back_master" data-itemid="back_master" {$item_back_master} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link  btn-xs 
	" {$backtomasterlink_attrs} >
							Back to Master table			</a>
</span>
	 
		<h3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" {$item_masterlist_header} data-pageid="{$pageid}" >{$pagetitlelabel Manage_Areas masterlist}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$country_code_class}
			"

			data-field="country_code"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN country_code_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="country_code">
	{$label Manage_Areas country_code }	</span>
{END country_code_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$area_name_class}
			"

			data-field="area_name"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN area_name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="area_name">
	{$label Manage_Areas area_name }	</span>
{END area_name_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$is_creation_needed_in_unee_t_class}
			"

			data-field="is_creation_needed_in_unee_t"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN is_creation_needed_in_unee_t_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="is_creation_needed_in_unee_t">
	{$label Manage_Areas is_creation_needed_in_unee_t }	</span>
{END is_creation_needed_in_unee_t_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$is_obsolete_class}
			"

			data-field="is_obsolete"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN is_obsolete_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="is_obsolete">
	{$label Manage_Areas is_obsolete }	</span>
{END is_obsolete_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$mgt_cny_default_assignee_class}
			"

			data-field="mgt_cny_default_assignee"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mgt_cny_default_assignee_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mgt_cny_default_assignee">
	{$label Manage_Areas mgt_cny_default_assignee }	</span>
{END mgt_cny_default_assignee_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$country_code_class}
			"

			data-field="country_code"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN country_code_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="country_code" data-default-width >
{$country_code_value}
</span>
{END country_code_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$area_name_class}
			"

			data-field="area_name"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN area_name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="area_name" data-default-width >
{$area_name_value}
</span>
{END area_name_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$is_creation_needed_in_unee_t_class}
			"

			data-field="is_creation_needed_in_unee_t"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN is_creation_needed_in_unee_t_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="is_creation_needed_in_unee_t" data-default-width >
{$is_creation_needed_in_unee_t_value}
</span>
{END is_creation_needed_in_unee_t_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$is_obsolete_class}
			"

			data-field="is_obsolete"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN is_obsolete_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="is_obsolete" data-default-width >
{$is_obsolete_value}
</span>
{END is_obsolete_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$mgt_cny_default_assignee_class}
			"

			data-field="mgt_cny_default_assignee"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mgt_cny_default_assignee_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mgt_cny_default_assignee" data-default-width >
{$mgt_cny_default_assignee_value}
</span>
{END mgt_cny_default_assignee_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_Areas_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_Areas_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_Areas_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_Areas_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_Areas_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
