<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Manage_Units search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN is_obsolete_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_obsolete}  r-horizontal-field form-horizontal" 
	
		data-fieldname="is_obsolete" 
	
	data-signal-error-for="is_obsolete{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="is_obsolete" >


	<label class="r-search-label control-label" for="{$labelfor_is_obsolete}">
		{$label Manage_Units is_obsolete }	</label>
	<div class="r-search-option">
		{$searchtype_is_obsolete}
	</div>
	<div class="r-search-field">
		{$is_obsolete_editcontrol}	</div>
	<div class="r-search-field">
		{$is_obsolete_editcontrol1}
	</div>
	
</div>

{END is_obsolete_fieldblock}
											
{BEGIN unee_t_unit_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_unee_t_unit_type}  r-horizontal-field form-horizontal" 
	
		data-fieldname="unee_t_unit_type" 
	
	data-signal-error-for="unee_t_unit_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="unee_t_unit_type" >


	<label class="r-search-label control-label" for="{$labelfor_unee_t_unit_type}">
		{$label Manage_Units unee_t_unit_type }	</label>
	<div class="r-search-option">
		{$searchtype_unee_t_unit_type}
	</div>
	<div class="r-search-field">
		{$unee_t_unit_type_editcontrol}	</div>
	<div class="r-search-field">
		{$unee_t_unit_type_editcontrol1}
	</div>
	
</div>

{END unee_t_unit_type_fieldblock}
											
{BEGIN building_system_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_building_system_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="building_system_id" 
	
	data-signal-error-for="building_system_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="building_system_id" >


	<label class="r-search-label control-label" for="{$labelfor_building_system_id}">
		{$label Manage_Units building_system_id }	</label>
	<div class="r-search-option">
		{$searchtype_building_system_id}
	</div>
	<div class="r-search-field">
		{$building_system_id_editcontrol}	</div>
	<div class="r-search-field">
		{$building_system_id_editcontrol1}
	</div>
	
</div>

{END building_system_id_fieldblock}
											
{BEGIN unit_category_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_unit_category_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="unit_category_id" 
	
	data-signal-error-for="unit_category_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="unit_category_id" >


	<label class="r-search-label control-label" for="{$labelfor_unit_category_id}">
		{$label Manage_Units unit_category_id }	</label>
	<div class="r-search-option">
		{$searchtype_unit_category_id}
	</div>
	<div class="r-search-field">
		{$unit_category_id_editcontrol}	</div>
	<div class="r-search-field">
		{$unit_category_id_editcontrol1}
	</div>
	
</div>

{END unit_category_id_fieldblock}
											
{BEGIN count_rooms_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_count_rooms}  r-horizontal-field form-horizontal" 
	
		data-fieldname="count_rooms" 
	
	data-signal-error-for="count_rooms{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="count_rooms" >


	<label class="r-search-label control-label" for="{$labelfor_count_rooms}">
		{$label Manage_Units count_rooms }	</label>
	<div class="r-search-option">
		{$searchtype_count_rooms}
	</div>
	<div class="r-search-field">
		{$count_rooms_editcontrol}	</div>
	<div class="r-search-field">
		{$count_rooms_editcontrol1}
	</div>
	
</div>

{END count_rooms_fieldblock}
											
{BEGIN surface_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_surface}  r-horizontal-field form-horizontal" 
	
		data-fieldname="surface" 
	
	data-signal-error-for="surface{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="surface" >


	<label class="r-search-label control-label" for="{$labelfor_surface}">
		{$label Manage_Units surface }	</label>
	<div class="r-search-option">
		{$searchtype_surface}
	</div>
	<div class="r-search-field">
		{$surface_editcontrol}	</div>
	<div class="r-search-field">
		{$surface_editcontrol1}
	</div>
	
</div>

{END surface_fieldblock}
											
{BEGIN surface_measurment_unit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_surface_measurment_unit}  r-horizontal-field form-horizontal" 
	
		data-fieldname="surface_measurment_unit" 
	
	data-signal-error-for="surface_measurment_unit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="surface_measurment_unit" >


	<label class="r-search-label control-label" for="{$labelfor_surface_measurment_unit}">
		{$label Manage_Units surface_measurment_unit }	</label>
	<div class="r-search-option">
		{$searchtype_surface_measurment_unit}
	</div>
	<div class="r-search-field">
		{$surface_measurment_unit_editcontrol}	</div>
	<div class="r-search-field">
		{$surface_measurment_unit_editcontrol1}
	</div>
	
</div>

{END surface_measurment_unit_fieldblock}
											
{BEGIN country_code_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_code}  r-horizontal-field form-horizontal" 
	
		data-fieldname="country_code" 
	
	data-signal-error-for="country_code{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="country_code" >


	<label class="r-search-label control-label" for="{$labelfor_country_code}">
		{$label Manage_Units country_code }	</label>
	<div class="r-search-option">
		{$searchtype_country_code}
	</div>
	<div class="r-search-field">
		{$country_code_editcontrol}	</div>
	<div class="r-search-field">
		{$country_code_editcontrol1}
	</div>
	
</div>

{END country_code_fieldblock}
											
{BEGIN area_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_area_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="area_id" 
	
	data-signal-error-for="area_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="area_id" >


	<label class="r-search-label control-label" for="{$labelfor_area_id}">
		{$label Manage_Units area_id }	</label>
	<div class="r-search-option">
		{$searchtype_area_id}
	</div>
	<div class="r-search-field">
		{$area_id_editcontrol}	</div>
	<div class="r-search-field">
		{$area_id_editcontrol1}
	</div>
	
</div>

{END area_id_fieldblock}
											
{BEGIN unit_designation_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_unit_designation}  r-horizontal-field form-horizontal" 
	
		data-fieldname="unit_designation" 
	
	data-signal-error-for="unit_designation{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="unit_designation" >


	<label class="r-search-label control-label" for="{$labelfor_unit_designation}">
		{$label Manage_Units unit_designation }	</label>
	<div class="r-search-option">
		{$searchtype_unit_designation}
	</div>
	<div class="r-search-field">
		{$unit_designation_editcontrol}	</div>
	<div class="r-search-field">
		{$unit_designation_editcontrol1}
	</div>
	
</div>

{END unit_designation_fieldblock}
											
{BEGIN external_table_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_external_table}  r-horizontal-field form-horizontal" 
	
		data-fieldname="external_table" 
	
	data-signal-error-for="external_table{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="external_table" >


	<label class="r-search-label control-label" for="{$labelfor_external_table}">
		{$label Manage_Units external_table }	</label>
	<div class="r-search-option">
		{$searchtype_external_table}
	</div>
	<div class="r-search-field">
		{$external_table_editcontrol}	</div>
	<div class="r-search-field">
		{$external_table_editcontrol1}
	</div>
	
</div>

{END external_table_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
