<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form r-align-left navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="image" {$item_image} data-topcell-item-type="image" >
				<img src="{$file_url images/Unee-T%20Enterprise160x50.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" />
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="Manage_User_Default_Visibility_search.php" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$changepwdlink_attrs}  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c2" data-pageid="{$pageid}">
 
<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
<!--
	<button type="button" class="btn btn-info bs-togglebutton bottom-margin collapsed" data-runner-toggle="collapse" data-target=".filterPanelContainer">	
		<span class="glyphicon glyphicon-filter"><span> Filter	
	</button>
-->	
	<div class="filterPanelContainer {$filterPanelStateClass}">



			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_is_dashboard_access}
		<div class="panel panel-info filter-field filter-is_dashboard_access-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label Manage_User_Default_Visibility is_dashboard_access }</label>

				{BEGIN clearLink_is_dashboard_access}
				<a href="#" class="filter-clear filter-clear-is_dashboard_access">Clear</a>
				{END clearLink_is_dashboard_access}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_is_dashboard_access}
				<li class="list-group-item filter-values filter-values-is_dashboard_access {$collapsedClass_is_dashboard_access} {$visibilityClass_is_dashboard_access}">
					{$is_dashboard_access_filter}
								
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_is_dashboard_access}

							{BEGIN filter_button_showmore_is_dashboard_access}
				<li class="list-group-item filter-show-more {$collapsedClass_is_dashboard_access} {$showMoreBtnClass_is_dashboard_access}">
					<a class="filter-show-more-link filterShowMore_is_dashboard_access" href="#">{$show_n_more_is_dashboard_access}</a>
				</li>
				{END filter_button_showmore_is_dashboard_access}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_is_dashboard_access}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_is_default_assignee}
		<div class="panel panel-info filter-field filter-is_default_assignee-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label Manage_User_Default_Visibility is_default_assignee }</label>

				{BEGIN clearLink_is_default_assignee}
				<a href="#" class="filter-clear filter-clear-is_default_assignee">Clear</a>
				{END clearLink_is_default_assignee}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_is_default_assignee}
				<li class="list-group-item filter-values filter-values-is_default_assignee {$collapsedClass_is_default_assignee} {$visibilityClass_is_default_assignee}">
					{$is_default_assignee_filter}
								
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_is_default_assignee}

							{BEGIN filter_button_showmore_is_default_assignee}
				<li class="list-group-item filter-show-more {$collapsedClass_is_default_assignee} {$showMoreBtnClass_is_default_assignee}">
					<a class="filter-show-more-link filterShowMore_is_default_assignee" href="#">{$show_n_more_is_default_assignee}</a>
				</li>
				{END filter_button_showmore_is_default_assignee}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_is_default_assignee}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_is_public}
		<div class="panel panel-info filter-field filter-is_public-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label Manage_User_Default_Visibility is_public }</label>

				{BEGIN clearLink_is_public}
				<a href="#" class="filter-clear filter-clear-is_public">Clear</a>
				{END clearLink_is_public}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_is_public}
				<li class="list-group-item filter-values filter-values-is_public {$collapsedClass_is_public} {$visibilityClass_is_public}">
					{$is_public_filter}
								
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_is_public}

							{BEGIN filter_button_showmore_is_public}
				<li class="list-group-item filter-show-more {$collapsedClass_is_public} {$showMoreBtnClass_is_public}">
					<a class="filter-show-more-link filterShowMore_is_public" href="#">{$show_n_more_is_public}</a>
				</li>
				{END filter_button_showmore_is_public}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_is_public}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_is_default_invited}
		<div class="panel panel-info filter-field filter-is_default_invited-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label Manage_User_Default_Visibility is_default_invited }</label>

				{BEGIN clearLink_is_default_invited}
				<a href="#" class="filter-clear filter-clear-is_default_invited">Clear</a>
				{END clearLink_is_default_invited}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_is_default_invited}
				<li class="list-group-item filter-values filter-values-is_default_invited {$collapsedClass_is_default_invited} {$visibilityClass_is_default_invited}">
					{$is_default_invited_filter}
								
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_is_default_invited}

							{BEGIN filter_button_showmore_is_default_invited}
				<li class="list-group-item filter-show-more {$collapsedClass_is_default_invited} {$showMoreBtnClass_is_default_invited}">
					<a class="filter-show-more-link filterShowMore_is_default_invited" href="#">{$show_n_more_is_default_invited}</a>
				</li>
				{END filter_button_showmore_is_default_invited}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_is_default_invited}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_is_occupant}
		<div class="panel panel-info filter-field filter-is_occupant-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label Manage_User_Default_Visibility is_occupant }</label>

				{BEGIN clearLink_is_occupant}
				<a href="#" class="filter-clear filter-clear-is_occupant">Clear</a>
				{END clearLink_is_occupant}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_is_occupant}
				<li class="list-group-item filter-values filter-values-is_occupant {$collapsedClass_is_occupant} {$visibilityClass_is_occupant}">
					{$is_occupant_filter}
								
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_is_occupant}

							{BEGIN filter_button_showmore_is_occupant}
				<li class="list-group-item filter-show-more {$collapsedClass_is_occupant} {$showMoreBtnClass_is_occupant}">
					<a class="filter-show-more-link filterShowMore_is_occupant" href="#">{$show_n_more_is_occupant}</a>
				</li>
				{END filter_button_showmore_is_occupant}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_is_occupant}
	 
	</div>
</div></td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		<div id="fildhidepanel{$id}" class="bs-fildhidepanel 
	 showHide	 reorder	keep-open btn-group"
	data-itemtype="columns_control" data-itemid="columns_control" {$item_columns_control} data-pageid="{$pageid}"	title="Show/hide columns"
	>
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-th-list"></i> <span class="caret"></span></button>
	<ul role="menu" class="dropdown-menu dropdown-left">
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_can_see_role_contractor" checked="checked" value="1" data-field="can_see_role_contractor">
					<span>{$label Manage_User_Default_Visibility can_see_role_contractor }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_can_see_role_mgt_cny" checked="checked" value="1" data-field="can_see_role_mgt_cny">
					<span>{$label Manage_User_Default_Visibility can_see_role_mgt_cny }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_can_see_occupant" checked="checked" value="1" data-field="can_see_occupant">
					<span>{$label Manage_User_Default_Visibility can_see_occupant }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_can_see_role_agent" checked="checked" value="1" data-field="can_see_role_agent">
					<span>{$label Manage_User_Default_Visibility can_see_role_agent }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_can_see_role_landlord" checked="checked" value="1" data-field="can_see_role_landlord">
					<span>{$label Manage_User_Default_Visibility can_see_role_landlord }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_can_see_role_tenant" checked="checked" value="1" data-field="can_see_role_tenant">
					<span>{$label Manage_User_Default_Visibility can_see_role_tenant }</span>
				</label>
			</div>
		</a>
		</li>
						<li>
		<a>
		  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_designation" checked="checked" value="1" data-field="designation">
					<span>{$label Manage_User_Default_Visibility designation }</span>
				</label>
			</div>
		</a>
		</li>
			</ul>
</div>
		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id_unee_t_user_type"]:before {
		content: "{$label Manage_User_Default_Visibility id_unee_t_user_type}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="syst_updated_datetime"]:before {
		content: "{$label Manage_User_Default_Visibility syst_updated_datetime}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="update_system_id"]:before {
		content: "{$label Manage_User_Default_Visibility update_system_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="updated_by_id"]:before {
		content: "{$label Manage_User_Default_Visibility updated_by_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="update_method"]:before {
		content: "{$label Manage_User_Default_Visibility update_method}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="designation"]:before {
		content: "{$label Manage_User_Default_Visibility designation}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="can_see_role_contractor"]:before {
		content: "{$label Manage_User_Default_Visibility can_see_role_contractor}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="can_see_role_mgt_cny"]:before {
		content: "{$label Manage_User_Default_Visibility can_see_role_mgt_cny}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="can_see_occupant"]:before {
		content: "{$label Manage_User_Default_Visibility can_see_occupant}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="can_see_role_landlord"]:before {
		content: "{$label Manage_User_Default_Visibility can_see_role_landlord}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="can_see_role_agent"]:before {
		content: "{$label Manage_User_Default_Visibility can_see_role_agent}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="can_see_role_tenant"]:before {
		content: "{$label Manage_User_Default_Visibility can_see_role_tenant}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="created_by_id"]:before {
		content: "{$label Manage_User_Default_Visibility created_by_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="organization_id"]:before {
		content: "{$label Manage_User_Default_Visibility organization_id}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="is_occupant"]:before {
		content: "{$label Manage_User_Default_Visibility is_occupant}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="is_public"]:before {
		content: "{$label Manage_User_Default_Visibility is_public}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="is_default_assignee"]:before {
		content: "{$label Manage_User_Default_Visibility is_default_assignee}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="is_default_invited"]:before {
		content: "{$label Manage_User_Default_Visibility is_default_invited}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="is_dashboard_access"]:before {
		content: "{$label Manage_User_Default_Visibility is_dashboard_access}";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="is_super_admin"]:before {
		content: "{$label Manage_User_Default_Visibility is_super_admin}";
	}
	
}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$designation_class}
			"

			data-field="designation"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN designation_fieldheadercolumn}
	{BEGIN designation_fieldheader}
	<SPAN {$designation_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="designation">
	{$label Manage_User_Default_Visibility designation }	{$arrow_icon_designation}
	</SPAN>
	{END designation_fieldheader}
{END designation_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_mgt_cny_class}
			"

			data-field="can_see_role_mgt_cny"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_mgt_cny_fieldheadercolumn}
	{BEGIN can_see_role_mgt_cny_fieldheader}
	<SPAN {$can_see_role_mgt_cny_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_mgt_cny">
	{$label Manage_User_Default_Visibility can_see_role_mgt_cny }	{$arrow_icon_can_see_role_mgt_cny}
	</SPAN>
	{END can_see_role_mgt_cny_fieldheader}
{END can_see_role_mgt_cny_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_landlord_class}
			"

			data-field="can_see_role_landlord"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_landlord_fieldheadercolumn}
	{BEGIN can_see_role_landlord_fieldheader}
	<SPAN {$can_see_role_landlord_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_landlord">
	{$label Manage_User_Default_Visibility can_see_role_landlord }	{$arrow_icon_can_see_role_landlord}
	</SPAN>
	{END can_see_role_landlord_fieldheader}
{END can_see_role_landlord_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_tenant_class}
			"

			data-field="can_see_role_tenant"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_tenant_fieldheadercolumn}
	{BEGIN can_see_role_tenant_fieldheader}
	<SPAN {$can_see_role_tenant_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_tenant">
	{$label Manage_User_Default_Visibility can_see_role_tenant }	{$arrow_icon_can_see_role_tenant}
	</SPAN>
	{END can_see_role_tenant_fieldheader}
{END can_see_role_tenant_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_occupant_class}
			"

			data-field="can_see_occupant"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_occupant_fieldheadercolumn}
	{BEGIN can_see_occupant_fieldheader}
	<SPAN {$can_see_occupant_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_occupant">
	{$label Manage_User_Default_Visibility can_see_occupant }	{$arrow_icon_can_see_occupant}
	</SPAN>
	{END can_see_occupant_fieldheader}
{END can_see_occupant_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_agent_class}
			"

			data-field="can_see_role_agent"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_agent_fieldheadercolumn}
	{BEGIN can_see_role_agent_fieldheader}
	<SPAN {$can_see_role_agent_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_agent">
	{$label Manage_User_Default_Visibility can_see_role_agent }	{$arrow_icon_can_see_role_agent}
	</SPAN>
	{END can_see_role_agent_fieldheader}
{END can_see_role_agent_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_contractor_class}
			"

			data-field="can_see_role_contractor"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_contractor_fieldheadercolumn}
	{BEGIN can_see_role_contractor_fieldheader}
	<SPAN {$can_see_role_contractor_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_contractor">
	{$label Manage_User_Default_Visibility can_see_role_contractor }	{$arrow_icon_can_see_role_contractor}
	</SPAN>
	{END can_see_role_contractor_fieldheader}
{END can_see_role_contractor_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Edit" class="btn-link   
	 glyphicon glyphicon-pencil" href="Manage_User_Default_Visibility_edit.php?{$editlink}" {$editlink_attrs} title="Edit" data-popup >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$designation_class}
			"

			data-field="designation"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN designation_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="designation" data-default-width >
{$designation_value}
</span>
{END designation_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_mgt_cny_class}
			"

			data-field="can_see_role_mgt_cny"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_mgt_cny_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_mgt_cny" data-default-width >
{$can_see_role_mgt_cny_value}
</span>
{END can_see_role_mgt_cny_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_landlord_class}
			"

			data-field="can_see_role_landlord"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_landlord_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_landlord" data-default-width >
{$can_see_role_landlord_value}
</span>
{END can_see_role_landlord_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_tenant_class}
			"

			data-field="can_see_role_tenant"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_tenant_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_tenant" data-default-width >
{$can_see_role_tenant_value}
</span>
{END can_see_role_tenant_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_occupant_class}
			"

			data-field="can_see_occupant"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_occupant_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_occupant" data-default-width >
{$can_see_occupant_value}
</span>
{END can_see_occupant_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_agent_class}
			"

			data-field="can_see_role_agent"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_agent_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_agent" data-default-width >
{$can_see_role_agent_value}
</span>
{END can_see_role_agent_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$can_see_role_contractor_class}
			"

			data-field="can_see_role_contractor"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN can_see_role_contractor_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="can_see_role_contractor" data-default-width >
{$can_see_role_contractor_value}
</span>
{END can_see_role_contractor_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="Manage_User_Default_Visibility_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
