<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel uneet_enterprise_organizations search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_organization_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_organization}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_organization" 
	
	data-signal-error-for="id_organization{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_organization" >


	<label class="r-search-label control-label" for="{$labelfor_id_organization}">
		{$label uneet_enterprise_organizations id_organization }	</label>
	<div class="r-search-option">
		{$searchtype_id_organization}
	</div>
	<div class="r-search-field">
		{$id_organization_editcontrol}	</div>
	<div class="r-search-field">
		{$id_organization_editcontrol1}
	</div>
	
</div>

{END id_organization_fieldblock}
											
{BEGIN syst_created_datetime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_syst_created_datetime}  r-horizontal-field form-horizontal" 
	
		data-fieldname="syst_created_datetime" 
	
	data-signal-error-for="syst_created_datetime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="syst_created_datetime" >


	<label class="r-search-label control-label" for="{$labelfor_syst_created_datetime}">
		{$label uneet_enterprise_organizations syst_created_datetime }	</label>
	<div class="r-search-option">
		{$searchtype_syst_created_datetime}
	</div>
	<div class="r-search-field">
		{$syst_created_datetime_editcontrol}	</div>
	<div class="r-search-field">
		{$syst_created_datetime_editcontrol1}
	</div>
	
</div>

{END syst_created_datetime_fieldblock}
											
{BEGIN creation_system_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_creation_system_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="creation_system_id" 
	
	data-signal-error-for="creation_system_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="creation_system_id" >


	<label class="r-search-label control-label" for="{$labelfor_creation_system_id}">
		{$label uneet_enterprise_organizations creation_system_id }	</label>
	<div class="r-search-option">
		{$searchtype_creation_system_id}
	</div>
	<div class="r-search-field">
		{$creation_system_id_editcontrol}	</div>
	<div class="r-search-field">
		{$creation_system_id_editcontrol1}
	</div>
	
</div>

{END creation_system_id_fieldblock}
											
{BEGIN creation_method_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_creation_method}  r-horizontal-field form-horizontal" 
	
		data-fieldname="creation_method" 
	
	data-signal-error-for="creation_method{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="creation_method" >


	<label class="r-search-label control-label" for="{$labelfor_creation_method}">
		{$label uneet_enterprise_organizations creation_method }	</label>
	<div class="r-search-option">
		{$searchtype_creation_method}
	</div>
	<div class="r-search-field">
		{$creation_method_editcontrol}	</div>
	<div class="r-search-field">
		{$creation_method_editcontrol1}
	</div>
	
</div>

{END creation_method_fieldblock}
											
{BEGIN created_by_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="created_by_id" 
	
	data-signal-error-for="created_by_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="created_by_id" >


	<label class="r-search-label control-label" for="{$labelfor_created_by_id}">
		{$label uneet_enterprise_organizations created_by_id }	</label>
	<div class="r-search-option">
		{$searchtype_created_by_id}
	</div>
	<div class="r-search-field">
		{$created_by_id_editcontrol}	</div>
	<div class="r-search-field">
		{$created_by_id_editcontrol1}
	</div>
	
</div>

{END created_by_id_fieldblock}
											
{BEGIN syst_updated_datetime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_syst_updated_datetime}  r-horizontal-field form-horizontal" 
	
		data-fieldname="syst_updated_datetime" 
	
	data-signal-error-for="syst_updated_datetime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="syst_updated_datetime" >


	<label class="r-search-label control-label" for="{$labelfor_syst_updated_datetime}">
		{$label uneet_enterprise_organizations syst_updated_datetime }	</label>
	<div class="r-search-option">
		{$searchtype_syst_updated_datetime}
	</div>
	<div class="r-search-field">
		{$syst_updated_datetime_editcontrol}	</div>
	<div class="r-search-field">
		{$syst_updated_datetime_editcontrol1}
	</div>
	
</div>

{END syst_updated_datetime_fieldblock}
											
{BEGIN update_system_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_update_system_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="update_system_id" 
	
	data-signal-error-for="update_system_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="update_system_id" >


	<label class="r-search-label control-label" for="{$labelfor_update_system_id}">
		{$label uneet_enterprise_organizations update_system_id }	</label>
	<div class="r-search-option">
		{$searchtype_update_system_id}
	</div>
	<div class="r-search-field">
		{$update_system_id_editcontrol}	</div>
	<div class="r-search-field">
		{$update_system_id_editcontrol1}
	</div>
	
</div>

{END update_system_id_fieldblock}
											
{BEGIN updated_by_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_by_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="updated_by_id" 
	
	data-signal-error-for="updated_by_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="updated_by_id" >


	<label class="r-search-label control-label" for="{$labelfor_updated_by_id}">
		{$label uneet_enterprise_organizations updated_by_id }	</label>
	<div class="r-search-option">
		{$searchtype_updated_by_id}
	</div>
	<div class="r-search-field">
		{$updated_by_id_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_by_id_editcontrol1}
	</div>
	
</div>

{END updated_by_id_fieldblock}
											
{BEGIN update_method_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_update_method}  r-horizontal-field form-horizontal" 
	
		data-fieldname="update_method" 
	
	data-signal-error-for="update_method{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="update_method" >


	<label class="r-search-label control-label" for="{$labelfor_update_method}">
		{$label uneet_enterprise_organizations update_method }	</label>
	<div class="r-search-option">
		{$searchtype_update_method}
	</div>
	<div class="r-search-field">
		{$update_method_editcontrol}	</div>
	<div class="r-search-field">
		{$update_method_editcontrol1}
	</div>
	
</div>

{END update_method_fieldblock}
											
{BEGIN order_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_order}  r-horizontal-field form-horizontal" 
	
		data-fieldname="order" 
	
	data-signal-error-for="order{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="order" >


	<label class="r-search-label control-label" for="{$labelfor_order}">
		{$label uneet_enterprise_organizations order }	</label>
	<div class="r-search-option">
		{$searchtype_order}
	</div>
	<div class="r-search-field">
		{$order_editcontrol}	</div>
	<div class="r-search-field">
		{$order_editcontrol1}
	</div>
	
</div>

{END order_fieldblock}
											
{BEGIN is_obsolete_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_is_obsolete}  r-horizontal-field form-horizontal" 
	
		data-fieldname="is_obsolete" 
	
	data-signal-error-for="is_obsolete{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="is_obsolete" >


	<label class="r-search-label control-label" for="{$labelfor_is_obsolete}">
		{$label uneet_enterprise_organizations is_obsolete }	</label>
	<div class="r-search-option">
		{$searchtype_is_obsolete}
	</div>
	<div class="r-search-field">
		{$is_obsolete_editcontrol}	</div>
	<div class="r-search-field">
		{$is_obsolete_editcontrol1}
	</div>
	
</div>

{END is_obsolete_fieldblock}
											
{BEGIN designation_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_designation}  r-horizontal-field form-horizontal" 
	
		data-fieldname="designation" 
	
	data-signal-error-for="designation{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="designation" >


	<label class="r-search-label control-label" for="{$labelfor_designation}">
		{$label uneet_enterprise_organizations designation }	</label>
	<div class="r-search-option">
		{$searchtype_designation}
	</div>
	<div class="r-search-field">
		{$designation_editcontrol}	</div>
	<div class="r-search-field">
		{$designation_editcontrol1}
	</div>
	
</div>

{END designation_fieldblock}
											
{BEGIN description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-horizontal-field form-horizontal" 
	
		data-fieldname="description" 
	
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="description" >


	<label class="r-search-label control-label" for="{$labelfor_description}">
		{$label uneet_enterprise_organizations description }	</label>
	<div class="r-search-option">
		{$searchtype_description}
	</div>
	<div class="r-search-field">
		{$description_editcontrol}	</div>
	<div class="r-search-field">
		{$description_editcontrol1}
	</div>
	
</div>

{END description_fieldblock}
											
{BEGIN default_sot_system_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_sot_system}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_sot_system" 
	
	data-signal-error-for="default_sot_system{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="default_sot_system" >


	<label class="r-search-label control-label" for="{$labelfor_default_sot_system}">
		{$label uneet_enterprise_organizations default_sot_system }	</label>
	<div class="r-search-option">
		{$searchtype_default_sot_system}
	</div>
	<div class="r-search-field">
		{$default_sot_system_editcontrol}	</div>
	<div class="r-search-field">
		{$default_sot_system_editcontrol1}
	</div>
	
</div>

{END default_sot_system_fieldblock}
											
{BEGIN default_sot_persons_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_sot_persons}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_sot_persons" 
	
	data-signal-error-for="default_sot_persons{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="default_sot_persons" >


	<label class="r-search-label control-label" for="{$labelfor_default_sot_persons}">
		{$label uneet_enterprise_organizations default_sot_persons }	</label>
	<div class="r-search-option">
		{$searchtype_default_sot_persons}
	</div>
	<div class="r-search-field">
		{$default_sot_persons_editcontrol}	</div>
	<div class="r-search-field">
		{$default_sot_persons_editcontrol1}
	</div>
	
</div>

{END default_sot_persons_fieldblock}
											
{BEGIN default_sot_areas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_sot_areas}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_sot_areas" 
	
	data-signal-error-for="default_sot_areas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="default_sot_areas" >


	<label class="r-search-label control-label" for="{$labelfor_default_sot_areas}">
		{$label uneet_enterprise_organizations default_sot_areas }	</label>
	<div class="r-search-option">
		{$searchtype_default_sot_areas}
	</div>
	<div class="r-search-field">
		{$default_sot_areas_editcontrol}	</div>
	<div class="r-search-field">
		{$default_sot_areas_editcontrol1}
	</div>
	
</div>

{END default_sot_areas_fieldblock}
											
{BEGIN default_sot_properties_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_sot_properties}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_sot_properties" 
	
	data-signal-error-for="default_sot_properties{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="default_sot_properties" >


	<label class="r-search-label control-label" for="{$labelfor_default_sot_properties}">
		{$label uneet_enterprise_organizations default_sot_properties }	</label>
	<div class="r-search-option">
		{$searchtype_default_sot_properties}
	</div>
	<div class="r-search-field">
		{$default_sot_properties_editcontrol}	</div>
	<div class="r-search-field">
		{$default_sot_properties_editcontrol1}
	</div>
	
</div>

{END default_sot_properties_fieldblock}
											
{BEGIN default_area_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_area}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_area" 
	
	data-signal-error-for="default_area{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="default_area" >


	<label class="r-search-label control-label" for="{$labelfor_default_area}">
		{$label uneet_enterprise_organizations default_area }	</label>
	<div class="r-search-option">
		{$searchtype_default_area}
	</div>
	<div class="r-search-field">
		{$default_area_editcontrol}	</div>
	<div class="r-search-field">
		{$default_area_editcontrol1}
	</div>
	
</div>

{END default_area_fieldblock}
											
{BEGIN default_building_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_building}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_building" 
	
	data-signal-error-for="default_building{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="default_building" >


	<label class="r-search-label control-label" for="{$labelfor_default_building}">
		{$label uneet_enterprise_organizations default_building }	</label>
	<div class="r-search-option">
		{$searchtype_default_building}
	</div>
	<div class="r-search-field">
		{$default_building_editcontrol}	</div>
	<div class="r-search-field">
		{$default_building_editcontrol1}
	</div>
	
</div>

{END default_building_fieldblock}
											
{BEGIN default_unit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_unit}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_unit" 
	
	data-signal-error-for="default_unit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="default_unit" >


	<label class="r-search-label control-label" for="{$labelfor_default_unit}">
		{$label uneet_enterprise_organizations default_unit }	</label>
	<div class="r-search-option">
		{$searchtype_default_unit}
	</div>
	<div class="r-search-field">
		{$default_unit_editcontrol}	</div>
	<div class="r-search-field">
		{$default_unit_editcontrol1}
	</div>
	
</div>

{END default_unit_fieldblock}
											
{BEGIN default_role_type_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_role_type_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_role_type_id" 
	
	data-signal-error-for="default_role_type_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="default_role_type_id" >


	<label class="r-search-label control-label" for="{$labelfor_default_role_type_id}">
		{$label uneet_enterprise_organizations default_role_type_id }	</label>
	<div class="r-search-option">
		{$searchtype_default_role_type_id}
	</div>
	<div class="r-search-field">
		{$default_role_type_id_editcontrol}	</div>
	<div class="r-search-field">
		{$default_role_type_id_editcontrol1}
	</div>
	
</div>

{END default_role_type_id_fieldblock}
											
{BEGIN country_code_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country_code}  r-horizontal-field form-horizontal" 
	
		data-fieldname="country_code" 
	
	data-signal-error-for="country_code{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="country_code" >


	<label class="r-search-label control-label" for="{$labelfor_country_code}">
		{$label uneet_enterprise_organizations country_code }	</label>
	<div class="r-search-option">
		{$searchtype_country_code}
	</div>
	<div class="r-search-field">
		{$country_code_editcontrol}	</div>
	<div class="r-search-field">
		{$country_code_editcontrol1}
	</div>
	
</div>

{END country_code_fieldblock}
											
{BEGIN mefe_master_user_external_person_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mefe_master_user_external_person_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="mefe_master_user_external_person_id" 
	
	data-signal-error-for="mefe_master_user_external_person_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="mefe_master_user_external_person_id" >


	<label class="r-search-label control-label" for="{$labelfor_mefe_master_user_external_person_id}">
		{$label uneet_enterprise_organizations mefe_master_user_external_person_id }	</label>
	<div class="r-search-option">
		{$searchtype_mefe_master_user_external_person_id}
	</div>
	<div class="r-search-field">
		{$mefe_master_user_external_person_id_editcontrol}	</div>
	<div class="r-search-field">
		{$mefe_master_user_external_person_id_editcontrol1}
	</div>
	
</div>

{END mefe_master_user_external_person_id_fieldblock}
											
{BEGIN mefe_master_user_external_person_table_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mefe_master_user_external_person_table}  r-horizontal-field form-horizontal" 
	
		data-fieldname="mefe_master_user_external_person_table" 
	
	data-signal-error-for="mefe_master_user_external_person_table{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="mefe_master_user_external_person_table" >


	<label class="r-search-label control-label" for="{$labelfor_mefe_master_user_external_person_table}">
		{$label uneet_enterprise_organizations mefe_master_user_external_person_table }	</label>
	<div class="r-search-option">
		{$searchtype_mefe_master_user_external_person_table}
	</div>
	<div class="r-search-field">
		{$mefe_master_user_external_person_table_editcontrol}	</div>
	<div class="r-search-field">
		{$mefe_master_user_external_person_table_editcontrol1}
	</div>
	
</div>

{END mefe_master_user_external_person_table_fieldblock}
											
{BEGIN mefe_master_user_external_person_system_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mefe_master_user_external_person_system}  r-horizontal-field form-horizontal" 
	
		data-fieldname="mefe_master_user_external_person_system" 
	
	data-signal-error-for="mefe_master_user_external_person_system{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="mefe_master_user_external_person_system" >


	<label class="r-search-label control-label" for="{$labelfor_mefe_master_user_external_person_system}">
		{$label uneet_enterprise_organizations mefe_master_user_external_person_system }	</label>
	<div class="r-search-option">
		{$searchtype_mefe_master_user_external_person_system}
	</div>
	<div class="r-search-field">
		{$mefe_master_user_external_person_system_editcontrol}	</div>
	<div class="r-search-field">
		{$mefe_master_user_external_person_system_editcontrol1}
	</div>
	
</div>

{END mefe_master_user_external_person_system_fieldblock}
											
{BEGIN default_sot_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_sot_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_sot_id" 
	
	data-signal-error-for="default_sot_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="default_sot_id" >


	<label class="r-search-label control-label" for="{$labelfor_default_sot_id}">
		{$label uneet_enterprise_organizations default_sot_id }	</label>
	<div class="r-search-option">
		{$searchtype_default_sot_id}
	</div>
	<div class="r-search-field">
		{$default_sot_id_editcontrol}	</div>
	<div class="r-search-field">
		{$default_sot_id_editcontrol1}
	</div>
	
</div>

{END default_sot_id_fieldblock}
											
{BEGIN default_assignee_mgt_cny_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_assignee_mgt_cny}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_assignee_mgt_cny" 
	
	data-signal-error-for="default_assignee_mgt_cny{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="default_assignee_mgt_cny" >


	<label class="r-search-label control-label" for="{$labelfor_default_assignee_mgt_cny}">
		{$label uneet_enterprise_organizations default_assignee_mgt_cny }	</label>
	<div class="r-search-option">
		{$searchtype_default_assignee_mgt_cny}
	</div>
	<div class="r-search-field">
		{$default_assignee_mgt_cny_editcontrol}	</div>
	<div class="r-search-field">
		{$default_assignee_mgt_cny_editcontrol1}
	</div>
	
</div>

{END default_assignee_mgt_cny_fieldblock}
											
{BEGIN default_assignee_agent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_assignee_agent}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_assignee_agent" 
	
	data-signal-error-for="default_assignee_agent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="default_assignee_agent" >


	<label class="r-search-label control-label" for="{$labelfor_default_assignee_agent}">
		{$label uneet_enterprise_organizations default_assignee_agent }	</label>
	<div class="r-search-option">
		{$searchtype_default_assignee_agent}
	</div>
	<div class="r-search-field">
		{$default_assignee_agent_editcontrol}	</div>
	<div class="r-search-field">
		{$default_assignee_agent_editcontrol1}
	</div>
	
</div>

{END default_assignee_agent_fieldblock}
											
{BEGIN default_assignee_landlord_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_assignee_landlord}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_assignee_landlord" 
	
	data-signal-error-for="default_assignee_landlord{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="default_assignee_landlord" >


	<label class="r-search-label control-label" for="{$labelfor_default_assignee_landlord}">
		{$label uneet_enterprise_organizations default_assignee_landlord }	</label>
	<div class="r-search-option">
		{$searchtype_default_assignee_landlord}
	</div>
	<div class="r-search-field">
		{$default_assignee_landlord_editcontrol}	</div>
	<div class="r-search-field">
		{$default_assignee_landlord_editcontrol1}
	</div>
	
</div>

{END default_assignee_landlord_fieldblock}
											
{BEGIN default_assignee_tenant_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_assignee_tenant}  r-horizontal-field form-horizontal" 
	
		data-fieldname="default_assignee_tenant" 
	
	data-signal-error-for="default_assignee_tenant{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="default_assignee_tenant" >


	<label class="r-search-label control-label" for="{$labelfor_default_assignee_tenant}">
		{$label uneet_enterprise_organizations default_assignee_tenant }	</label>
	<div class="r-search-option">
		{$searchtype_default_assignee_tenant}
	</div>
	<div class="r-search-field">
		{$default_assignee_tenant_editcontrol}	</div>
	<div class="r-search-field">
		{$default_assignee_tenant_editcontrol1}
	</div>
	
</div>

{END default_assignee_tenant_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
